* {
    box-sizing: border-box;
}

.display {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));     
}


.TV {
    width: 100%;
    height: 200px;
    background-size: 100% 100%;
}


img {
    width: 62%;
    height: 140px;
    display: block;
    margin-top: 25px;
    margin-left: 20px;
    border-radius: 11%;
}

body {
    background-image: url("./images/TVstatic.png");
    background-size: 17%; 
}


.flickerTV {
    background-size: 17%;
    animation-name: flicker;
    animation-duration: 0.01s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    perspective: 1000;
    background-attachment: fixed;    
}

@keyframes flicker {
    0% {background-image: url("./images/TVstatic.png");}
    100% {background-image: url("./images/TVstatic2.png");}
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {




    body {
        background-image: url("./images/TVstatic.png");
        background-size: 33%;
    }
    
    
    .flickerTV {
        background-size: 33%;
        animation-name: flicker;
        animation-duration: 0.01s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        perspective: 1000;
        background-attachment: fixed;    
    }
    
    @keyframes flicker {
        0% {background-image: url("./images/TVstatic.png");}
        100% {background-image: url("./images/TVstatic2.png");}
    }      

}


@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2) { 
    
    .TV {
        padding-left: 5%;
    }


    body {
        background-image: url("./images/TVstatic.png");
        background-size: 100%;
    }
    
    
    .flickerTV {
        background-size: 100%;
        animation-name: flicker;
        animation-duration: 0.01s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        perspective: 1000;
        background-attachment: fixed;    
    }
    
    @keyframes flicker {
        0% {background-image: url("./images/TVstatic.png");}
        100% {background-image: url("./images/TVstatic2.png");}
    }        

}